.profile-content{
  height: 95vh;
  overflow-y: hidden;
}
.loginsignup-container {
  margin: auto;
  padding: 20px 60px;
}

.loginsignup-container h1 {
  margin: 0px 0px;
}

.loginsignup-field {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
} 

.loginsignup-field input {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #85b4c7;
  border-radius: 10px;
  outline: none;
  color: #58bbf0;
  font-size: 18px;
  font-weight: 600;
}

.loginsignup-container button {
  height: 45px;
  width: 200px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #2da4e9;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
display: flex;
align-items: center;
margin-top: 25px;
gap: 20px;
color: #5c5c5c;
font-size: 18px;
font-weight: 500;
}
.loginsignup-agree input{
  transform: scale(2);
  accent-color: #239ce2;
  cursor: pointer;
}

@media (max-width:480px) {
  .profile-content{
    scale:.9;
  }
}