
.addTask-content {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addTask-content .background {
  position: absolute;
  top: 0px;
  transform: translateX(-70%);
}
.addTask-header {
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem;
}
.task-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-input p {
  margin-top: 1rem;
  font-size: var(--font-size-small);
}
.task-input p span {
  margin: 5px;
  color: rgb(252, 77, 47);
}
.task-input input {
  margin: 1rem 0;
}
.task-input .seperate{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}
#time,
#date {
  max-width: 140px;
  padding-right: 15px;
}
.task-input button{
  margin: 1rem 0;
}
#cancel-button{
  background: #f66b6b;
}
