.home-container{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .background {
  position: absolute;
  top: 0px;
  transform: translateX(-70%);
}
.home-container #img{
  margin-top: 5rem;
  width: 254px;
  height: 194px;
}
.home-header{
  display: flex;
  justify-content: center;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: .5px;
}
.home-header span{
  color: #0c93b4;
  padding: 0 5px;
}
.home-description{
  width: 280px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
}
.starter-btn{
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
}