*{
    margin: 0;
}

.taskcontent {
  margin-top: .5rem;
  border: 3px solid #ececec;
  box-shadow: 2px 2px 5px 1px #818181;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  transition: all 0.3s ease;
}
.taskcontent.active {
  color: #2e2e2e49;
  transition: all 0.3s linear;
  text-decoration: line-through solid #c7c7c760 5px;
}
.task-image{
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 10px;
}
.taskcontent-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;   
}
.taskcontent-title {
  max-width: 170px;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
}
.taskcontent-time{
  font-size: 14px;
  font-weight: 600px;
}

.taskcontent-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
}
.taskcontent-btns img {
  all: unset;
  width: 30px;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px 1px rgb(177, 177, 177);
}
