.task-content{
  height: 100vhvh;
  overflow-y: scroll;
  scroll-snap-stop:always;
}
.task-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    align-items: center;
    padding: .5rem 2rem;
}
.task-header h4 {
    font-size: 20px;
    font-weight: 700;
    cursor: default;
  }
  @media (max-width:480px) {
    .task-content{
      scale:.9;
    }
}